body {
    color: black;
    font-family: Roboto;
    font-size: 12pt;
    margin: 0;
}

h1 {
    font-family: Roboto Slab;
    font-size: 24pt;
    color: rgb(211, 136, 203);
    text-align: center;
}

h4 {
    font-size: 16pt;
    color: rgb(166, 186, 211);
    text-align: center;
}

#menu {
    float: left;
    border: 1px solid #000;
    width: 15%;
    margin-left: 2%;
    margin-right: 2%;
    padding: 3%;

}

/* #content {
    border: 1px solid #000;
    margin-left: 2%;
    margin-right: 2%;
} */