@font-face {
    font-family: 'ComingSoon-Regular', sans-serif;
    src: local('ComingSoon-Regular'),
        url('/fonts/ComingSoon-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

body {
    background-color: black;
    color: black;
    font-family: "soon";
    font-size: 12pt;
    margin: 0;
}

h1 {
    font-family: 'ComingSoon-Regular', sans-serif;
    font-size: 24pt;
    color: rgb(211, 136, 203);
    text-align: center;
}

h2 {
    font-family: 'ComingSoon-Regular', sans-serif;
    font-size: 17pt;
    color: rgb(166, 186, 211);
    text-align: center;
}

h3 {
    font-family: 'ComingSoon-Regular', sans-serif;
    font-size: 10pt;
    color: rgb(166, 186, 211);
    text-align: center;
}

#menu {
    float: left;
    border: 2px solid rgb(174, 0, 255);
    width: 11%;
    margin-left: 3%;
    margin-top: 3%;
    margin-right: 3%;
    padding: 1%;

}

.link {
    text-decoration: none;
    color: rgb(165, 185, 215);
}

/* #content {
    border: 1px solid #000;
    margin-left: 2%;
    margin-right: 2%;
} */